CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SYS_TEXT_BASE=0x81700000
CONFIG_ENV_SIZE=0x8000
CONFIG_SPL=y
CONFIG_MACH_SUNIV=y
CONFIG_DRAM_CLK=156
CONFIG_DRAM_ZQ=0
CONFIG_UART0_PORT_F=y
# CONFIG_VIDEO_SUNXI is not set
CONFIG_SPL_SPI_SUNXI=y
CONFIG_BOOTCOMMAND="gpio set PF3; setenv minor 0; for pin in 5 4 3; do setexpr minor $minor * 2; gpio input PE$pin; setexpr minor $minor + $?; done; setenv major 0; for pin in 2 1 0; do setexpr major $major * 2; gpio input PE${pin}; setexpr major $major + $?; done; if test $major -eq 1; then gpio clear PF0; else gpio clear PF1; fi; echo Hardware revision: v$major.$minor; setenv bootargs console=ttyS0,115200 ubi.mtd=1 ubi.block=0,rootfs root=/dev/ubiblock0_3 g_acm_ms.removable=1 video=HDMI-A-1:1280x720@60 ${bootargs_extra}; sf probe 0 20000000; ubi part rootubi; ubi read ${kernel_addr_r} kernel; ubi read ${fdt_addr_r} dtb-v${major}; bootz ${kernel_addr_r} - ${fdt_addr_r}"
CONFIG_LOG_DEFAULT_LEVEL=7
CONFIG_SPL_MTD_SUPPORT=y
CONFIG_SYS_PROMPT="~> "
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF is not set
CONFIG_CMD_MD5SUM=y
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_GPT is not set
# CONFIG_CMD_MMC is not set
CONFIG_CMD_MTD=y
CONFIG_CMD_SF=y
CONFIG_CMD_SPI=y
CONFIG_CMD_MTDPARTS=y
CONFIG_MTDIDS_DEFAULT="nor0=spi-flash"
CONFIG_MTDPARTS_DEFAULT="mtdparts=spi-flash:512k(uboot),-(rootubi)"
CONFIG_CMD_SPI=y
CONFIG_DEFAULT_DEVICE_TREE="hdmizness"
# CONFIG_NET is not set
CONFIG_CMD_UBI=y
# CONFIG_CMD_UBIFS is not set
# CONFIG_PARTITIONS is not set
# CONFIG_NET is not set
# CONFIG_MMC is not set
CONFIG_MTD=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SF_DEFAULT_MODE=0x0
CONFIG_SF_DEFAULT_SPEED=10000000
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_XMC=y
CONFIG_SPI_FLASH_MTD=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
CONFIG_SPI=y
# CONFIG_SPL_DM_SERIAL is not set
CONFIG_DM_SPI=y
